.section-form{

  min-height:100vh;
  background: #EBF0F3;
  form{
    border: none;
    label{

      width:33%;
      input{
        background: $white-color;
      }
      textarea{
        height:200px;
        border:none;
        resize: none;
      }
    }
  }
  .comments-list{
    padding: 0;
    li{
      width:100%;
      height:200px;
      background: white;
      margin-bottom:40px;
      .commentator{
        border-bottom: solid 1px gainsboro;
        padding: 2% 0 0 5%;
        .reply{
          margin-right:5%;
          color: $primary-color;
          text-decoration: none;
        }
        .reply:hover{
          font-weight:700;
        }
      }
      .comment{
        padding: 20px;
      }

    }
    li:nth-child(2){
      width:90%;
      margin-left: 10%;
    }

  }
}
