.main-section{
  .main-article{
    border-bottom: solid 1px grey;
    img{
      width:100%;
    }
  }
  .container{
    margin-top: 3em;
    margin-bottom: 3em;
  }
  min-height:100vh;
  h4{
    margin-top: 2em;
    margin-bottom: 20px;
    color: #3b4954;
    font-family: Oxygen, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }
  p{
    font-size: 14px;
    font-weight: 300;
  }
  .cite{
    border-left: solid 3px #c69c6d;
    margin-left: 2em;
    padding-left: 1em;
    color: #c69c6d;
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
  }
  .single-img-list{
    height:160px;
    padding: 0;
  }
  .tags{
    padding-left: 10px;
    margin-left: 20px;
    height:30px;
    li{
      font-family: Oxygen,sans-serif;
      font-size: 12px;
      font-weight: 300;
      line-height: 24px;
      margin-right: 5px;
      a{
        color: $primary-color;
        text-decoration: none;
      }
      a:hover{
        color: $hover-link-color;
      }
    }

  }
  .tags:before{
    content: "\f02c";
    font-family: FontAwesome;
    color: $primary-color;
    position: absolute;
    font-size:14px;
    left:1px;
    display: block;
  }
  .related-posts{
    height: 150px;
    padding-left: 0;
    li:before{
      content: "\f11c";
      font-family: FontAwesome;
      width: 15px;
      height: 9px;
      color: #c3c3c3;
      left:1px;
      bottom: 15px;
    }
  }
  .categories{
    height:250px;
    padding:0;
    li{
      border-bottom: solid 1px gainsboro;
      margin-bottom: 10px;
      padding-bottom: 10px;
      a {
        color: $primary-color;
        text-decoration: none;
      }
      a:hover{
        color: $hover-link-color;
      }
    }
    li:before{
      content: "\f11c";
      font-family: FontAwesome;
      width: 15px;
      height: 9px;
      color: #c3c3c3;
      left:1px;
      position: absolute;
      left: -10px;
    }
  }
  .reacent-comments{
    height:150px;
    padding:0;
    li{
      border-bottom: solid 1px gainsboro;
      margin-bottom: 10px;
      padding-bottom: 10px;
      a {
        color: $primary-color;
        text-decoration: none;
      }
      a:hover{
        color: $hover-link-color;
      }
    }
    li:before{
      content: "\f10d";
      font-family: FontAwesome;
      width: 15px;
      height: 9px;
      color: #c3c3c3;
      left:1px;
      position: absolute;
      left: -10px;
    }
  }
}